// Custom scrollbar

body {
    &::-webkit-scrollbar-track {
        background-color: var(--dark-gray);
    }

    &::-webkit-scrollbar {
        width: 0.75rem;
        background-color: var(--dark-gray);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--accent);
    }
}
