@use "../abstracts" as *;

.circle-graph {
    position: relative;
    width: 90px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        position: absolute;
        content: "";
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background-color: var(--dark-gray);
    }

    &__content {
        position: relative;
        margin: 0;
    }
}
