@use "../abstracts" as *;

.settings {
    display: flex;
    flex-direction: column;

    &__list {
        min-height: 18.75rem;
        border: 2px solid var(--secondary);
        padding: 1.5rem 2rem;
        margin-bottom: 1.25rem;

        @include breakpoint(tablet) {
            padding: 1.5rem;
        }
    }

    &__general {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        border-bottom: 2px solid var(--secondary);
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include breakpoint(tablet) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 0.5rem;
            }

            @include breakpoint(mobile) {
                align-items: center;
                text-align: center;
            }
        }
    }

    &__difficulty p {
        margin-bottom: 0.75rem;

        @include breakpoint(mobile) {
            text-align: center;
        }
    }

    &__difficulty-btns {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        border-bottom: 2px solid var(--secondary);
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;

        @include breakpoint(tablet) {
            flex-direction: column;
            align-items: center;
            gap: 0.75rem;
        }

        button {
            @include breakpoint(tablet) {
                width: 100%;
            }
        }
    }

    &__tags-search-form {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-bottom: 0.5rem;

        input {
            padding-left: 0.5rem;
            width: 50%;
            background-color: var(--dark-gray);
            border: none;
            outline: none;
            font-size: var(--fs-small);
            color: var(--secondary);
            font-family: var(--paragraph-font);

            &::placeholder {
                font-weight: bold;
            }
        }
    }

    &__input-container {
        position: relative;
        display: flex;
        align-items: center;
        background-color: var(--dark-gray);
        padding: 0.5rem;
    }

    &__selected-tags {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        justify-content: flex-end;
        width: 50%;
        flex-wrap: wrap;
    }

    &__selected-tag {
        display: flex;
        align-items: center;
        background-color: var(--accent);
        color: var(--dark-gray);
        font-size: var(--fs-small);
        gap: 1rem;
        padding: 0 0.75rem;
        transition: all ease 0.3s;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }

        img {
            width: 12px;
            height: 12px;
        }
    }

    &__tag-results {
        position: absolute;
        background-color: var(--dark-gray);
        padding: 0.5rem;
        display: none;
        flex-direction: column;
        width: fit-content;
    }

    &__tag-result {
        font-size: var(--fs-small);
        padding: 0.25rem 1.5rem 0.25rem 0.75rem;

        &:hover {
            background-color: var(--primary);
            cursor: pointer;
        }
    }

    &__controls {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;

        @include breakpoint(tablet) {
            gap: 0.75rem;
        }

        button {
            @include breakpoint(tablet) {
                width: 100%;
            }
        }
    }
}
