@use "../abstracts" as *;

.container {
    margin: 0 auto;
    max-width: 50rem;
    width: 100%;
    padding: 3.125rem 2rem 4rem;

    @include breakpoint(tablet) {
        padding: 2rem 1rem 8rem;
    }

    &--inactive {
        display: none;
    }
}
